include includes/head.pug
    
body
    include includes/header.pug

    section(class="m-5")
        form(action="/productos" method="post")
            div(class="mb-3")
                label(for="nombre" class="form-label") Nombre del producto
                input(type="text" class="form-control" id="nombre" name="nombre")
            

            div(class="mb-3")
                label(for="precio" class="form-label") Precio del producto
                input(type="number" class="form-control" id="precio" name="precio")
            

            div(class="mb-3")
                label(for="UrlImagen" class="form-label") Url de la imagen
                input(type="text" class="form-control" id="UrlImagen" name="urlImagen")
            

            button(type="submit" class="btn btn-primary") Submit

    script(
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"
    )